<h1>Create a Post!</h1>

<%= form_with model: @post do |form| %>
  <div>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.text_area :body, size: '40x8' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
